/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* HEADER STYLES START */

.page {
  background-image: var(--background);
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 23px;
  margin: 100px auto 100px;
  border: 2px solid var(--main-color);
  padding: clamp(7.5rem, 7.0455rem + 1.9394vw, 8.5rem) 0 24px;
  color: var(--main-color);
  font-family: var(--font-accent);
  text-transform: uppercase;
  background-color: var(--background-color);
  inline-size: clamp(23.4375rem, 14.2045rem + 39.3939vw, 43.75rem);
}

.header-name {
  text-align: center;
}

.header-name .header-name__heading {
  margin-block-end: 20px;
}

.header-name__heading {
  font-weight: normal;
  font-size: clamp(3.0625rem, 2.608rem + 1.9394vw, 4.0625rem);
}

.header-name__sub-heading {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6193rem + 1.0909vw, 1.4375rem);
}

.theme-menu {
  margin: 0 auto;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-inline-start: 18px;
}

.theme-menu__item {
  padding: 0;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0 0 1px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
} 

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute; 
  z-index: 1;
  background-color: var(--main-color);
  transition: inline-size 0.3s ease-in-out;
  inset-inline-start: 0;
  inset-block-end: -3px;
  inline-size: 0%;
  block-size: 2px;
} 

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  inline-size: 100%;
}   

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
}

/* HEADER STYLES END */


/* MAIN STYLES START */

.article {
  margin: 0 auto 50px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-family: var(--font-main);
  background-color: var(--background-color);
  inline-size: clamp(23.4375rem, 14.2045rem + 39.3939vw, 43.75rem);
}

.article__title {
  padding: 5px 10px;
  font-size: 18px;
  line-height: 21.78px;
  line-height: inherit;
  font-variation-settings: "wght" var(--font-weight-heading);
}

.article__picture {
  position: relative;
  border-block-start: 2px solid var(--main-color);
  border-block-end: 2px solid var(--main-color);
}

.article__picture__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.article__picture__watermark {
  position: absolute;
  opacity: 0.5;
  color: var(--main-color);
  font-family: var(--font-accent);
  letter-spacing: -2px;
  text-shadow: 0 0 1px var(--stroke-color);
  inset-inline-end: clamp(0.8125rem, 0.4716rem + 1.4545vw, 1.5625rem);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports((-webkit-text-stroke: 1px solid var(--stroke-color)) or (text-stroke: 1px solid var(--stroke-color))) {
  .article__picture__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

.article__content {
  display: flex;
  flex-direction: column;
  gap: 24.5px;
  padding: 25px;
  font-family: var(--font-main);
  font-weight: var(--font-weight-default);
  font-size: 18px;
  line-height: 21px;
}

.article__content .article__content__text:not(:last-of-type) {
  margin-block-end: 2px;
}

.article__buttons {
  display: flex;
  align-items: center;
  gap: 7px;
  align-self: end;
}

.article__buttons {
  display: flex;
  justify-content: end;
  gap: 6px;
}

.card__icon-button {
  display: flex;
  align-self: end;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;
  block-size: 38px;
}

.card__icon-button:hover .inside-fill,
.card__icon-button:hover .starting {
  fill: currentColor;
  transition: fill 0.3s linear;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color);
}

.card__like-button {
  width: 130px;
  min-height: 38px;
  padding: 9px 17px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 38px;
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--main-color);
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  transition: inline-size 0.5s ease-in-out;
  inset-inline-start: 0;
  inset-block-start: 0;
  block-size: 100%;
  inline-size: 0%;
}

.button:hover::before {
  inline-size: 100%;
}

.button__text {
  z-index: 1;
  color: var(--main-color);
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  transition: color 0.3s ease-in-out;
}

.button:hover .button__text {
  color: var(--background-color);
}

/* MAIN STYLES END */

/* FOOTER STYLES START */

.footer {
  margin-block-end: 105px;
}

.footer__button {
  display: flex;
  gap: 8px;
  margin: 0 auto;
  padding: 15px 20px;
}

.footer__button__icon {
  z-index: 1;
  fill: var(--main-color);
  transition: fill 0.3s ease-in-out;
  inline-size: 21px;
  aspect-ratio: 1 / 1;
}

.button:hover .footer__button__icon {
  fill: var(--background-color);
}

/* FOOTER STYLES END */

/* DIALOG STYLES START */

dialog {
  border: 2px solid var(--main-color);
  padding: 30px;
  background-color: var(--background-color);
}

dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog-download__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--main-color);
  font-family: var(--font-accent);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  max-inline-size: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
}

.dialog-download__content {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
}

.pop-up-icon {
  fill: var(--main-color);
  max-inline-size: 39px;
  aspect-ratio: 1 / 1;
}

.dialog__button {
  padding: 9px 17px;
  inline-size: 100%;
}

/* DIALOG STYLES END */

/* FILTERS */

.contrast-image {
  filter: contrast(80%);
}

.sepia-image {
  filter: sepia(70%);
}

.saturate-image {
  filter: saturate(120%);
}

.blur-image {
  filter: blur(8px);
}

.brightness-image {
  filter: brightness(120%);
}

.grayscale-image {
  filter: grayscale(100%);
}

.hue-rotation-image {
  filter: hue-rotate(30deg);
}

/* BREAKPOINTS */

@media(width <= 375px) {
  .footer__button {
    flex-direction: column;
  }

  .footer__button__icon {
    inline-size: 28px;
  }
}